.antenna {
  width: 512px;
  height: 512px;
}

.battery {
  width: 512px;
  height: 512px;
}

.compliance-ce {
  width: 512px;
  height: 512px;
}

.compliance-weee {
  width: 512px;
  height: 512px;
}

.crystal {
  width: 512px;
  height: 512px;
}

.fuse {
  width: 512px;
  height: 512px;
}

.logo-dremel {
  width: 512px;
  height: 512px;
}

.logo-hirose {
  width: 512px;
  height: 512px;
}

.logo-jst {
  width: 512px;
  height: 512px;
}

.logo-kreg {
  width: 512px;
  height: 512px;
}

.logo-microchip {
  width: 512px;
  height: 512px;
}

.logo-molex {
  width: 512px;
  height: 512px;
}

.logo-stmicro {
  width: 512px;
  height: 512px;
}

.logo-ti {
  width: 512px;
  height: 512px;
}

.mosfet-n {
  width: 512px;
  height: 512px;
}

.resistor {
  width: 512px;
  height: 512px;
}

.resistor2 {
  width: 512px;
  height: 512px;
}

.resistor2_cleaned {
  width: 512px;
  height: 512px;
}

.transistor-npn {
  width: 512px;
  height: 512px;
}

